
.aboutContainer{
    /* width:100%;
    width:auto;
    max-width: 1200px;
    position: absolute;
    top:125%;
    left:50%;
     transform: translate(-50%,-50%);
 */
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap:20px;   */
    /* padding-top: 8em ; */
    /* padding-left: 1em; */
    /* z-index: -2;   */
    /* margin:.2em; */
    /* margin-top: 7em; */
    overflow: hidden;
}


.loadCv,.about{
    padding:2em 0;
}
.intro{
    
    /* max-width: 800px; */
    font-size: 1.32rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2.8em;
    margin-top: 3em;
    /* margin:15px; */
    /* border: 2px solid gold; */
    text-align: justify;
}
.heading{
    margin-top: 2em;
    
}
.skills{
    padding:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    gap:2em;
    z-index: -2;
    /* width:auto; */
    /* max-width: 1200px; */
    
}
.download{
    text-transform: uppercase;
    color:black;
}
/* .tooltip{
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptxt{
display: none;
  width: auto;
  background-color: whitesmoke;
  color: darkslategray;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
 */
  /* Position the tooltip */
  /* position: absolute;
  top:100%;
  left:50%;
  margin-left:-60px;
  /* z-index: 1; */

/*}
.tooltip:hover .tooltiptxt{
display: block;
}
 */
/* .tooltip:hover .tooltiptxt {
    visibility: visible;
    } */
  .skills_icon_img{
    height:50px;
    width:50px;
  }
  .skills_icon_img1{
    margin-left: .8em;
    height:50px;
    width:50px;

  }
.text{
    text-align: center;
}
figure{
    display:flex;
    flex-direction:column;
    align-items:center;
    /* border:1px solid black; */
    gap:20px;
    height:100px;
    max-width:100px;
    margin:5px;
  }
.icons{
    max-height: 50px;
    max-width: 50px;

    
}
.download{
    margin-left: .3em;
}

/* @media (min-width:320px) and (max-width:600px) {
    .aboutContainer{
        /* padding-top: 3em; */
/* padding:5em;
    }
} */ 

/*  */
@media(min-width:768px){
    .intro{
        margin:1.5em;
    }
 .skills{
    justify-content: center;
 }   
}
@media (min-width:1024px){
    
.intro{
    font-size: 1.5rem;
    letter-spacing: .5px;
    line-height: 1.5em;
}  
.skills{
    /* margin-left: 50%;
    margin-right: 50%; */
    justify-content: center;
    }  
}