.top-to-btm{
    position: relative;
  }
  .icon-position{
    position: fixed;
    bottom: 110px;
    right: 0;
    /* z-index: 20; */
    margin-right:1em;
  }
  .icon-style{
    background-color: black;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    color: #fff;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
  }
  .icon-style:hover{
    animation: none;
    background: #fff;
    color:black;
    }
  /* @keyframes movebtn {
    0%{
      transform: translateY(0px);
    }
    25%{
      transform: translateY(20px);
    }
    50%{
      transform: translateY(0px);
    }
    75%{
      transform: translateY(-20px);
    }
    100%{
      transform: translateY(0px);
    }
  } */

  @media screen and  (max-width:320px) and(max-width:768px){
    /* .top-to-btm{
      padding:40px;
    } */

    /* .top-to-btm{
      margin-right:40px;
    }*/
  } 