.projectsContainer{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin:0 auto;
    min-height:100vh;
    width:100%;
     padding-top:3em;
    /*margin-top:5em; */
    top:180%;
    z-index: -2;
}
.title{
    padding-top: 2em;
    margin: 0 auto;
}
.container{
    position:relative;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:30px;
    /* gap:30px; */
    /* background-color: antiquewhite; */
 
}

.card{
    background-color: antiquewhite;
    position: relative;
    max-width: 300px;
    height:220px;
    margin:30px 10px;
    padding:20px 15px;
    display:flex;
    flex-direction: column;
    /* box-shadow: .5px .5px rgba(0,0,0.5); */
    transition: 0.3px ease-in-out;
    /* object-position: center; */
    /* overflow: hidden;    */
}

.card:hover{
    text-align: center;
height:700px;
transition:.5s;

}
.imgbox{
    width:260px;
    height:260px;
    top:10px;
    left:20px;
    z-index: 1;
    
}
.cardImage{
    /* max-width: 100%; */
    
    height:200px;
    width:200px;
    /* margin:0 auto; */
    /* margin-left: 0; */
    padding-bottom:40px;
    padding-top:20px;
    margin-left:30px;
    margin-right:20px;
    /* padding-left:1em; */
}

.overlaycontent{
    position: relative;
    margin-top:-140px;
    
    padding:18px 20px;
    text-align: center;
    visibility: hidden;
    opacity:0;
    transition: .3s ease-in-out;
    font-size: 1.5rem;
}

.card:hover .overlaycontent{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;

    transition-delay:0.3s ;
}
.description{
    margin-bottom: 30px;

}
.weblinks{
    
    padding:10px 20px;
    margin-right: 5px;
    border:2px solid black;
    text-decoration: none;
    color:black;
    border-radius: 15px;
    
}

@media (min-width:768px){
    .projectsContainer{
        margin-top:2em;
        padding:0;
        display: flex;
        top:150%;
    }
    .Container{
        padding-top:1em;
        position: absolute;
        /* top:20px; */
    }
}

@media (min-width:1024px){
.projectsContainer{
display: flex;
top:180%;
}
}

