.container{
    width: 100%;
    background-color: cadetblue;
    height:80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

.navlinks{
    display: flex;
    justify-content: space-between;
}
.navlinks li{
    list-style: none;
    margin-right: 1em;
}